[Unit]
Description=OLX Scrapper

[Service]
User=pedro
Group=pedro
ExecStart=/home/pedro/projects/olx_scrapy/start_olx_scrape.sh

[Install]
WantedBy=multi-user.target

