[Unit]
Description=OLX Scrapper

[Service]
User=pedro
Group=pi
WorkingDirectory=/home/pedro/projects/olx_scrapy
ExecStart=/usr/bin/python3 /home/pedro/projects/olx_scrapy/run_scrappers.py

[Install]
WantedBy=multi-user.target

